:root {
	--accent: #2337ff;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--gray-gradient));
    background-repeat: no-repeat;
    color: rgb(var(--gray-dark));
    font-size: 18px;
    line-height: 1.5;
}
main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em; /* top and bottom | left and right */
}
code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius: 2px;
}
pre {
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
@media (max-width: 720px) {
    body {
        font-size: 18px;
    }
    main {
        padding: 1em; /* Apply to all four sides */
    }
}